@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Frijole|Roboto&display=swap');

/* Fonts:  Frijole - LOGO
        Permanent Marker - Headers
        Roboto - general text
Colors
Blue #124666
Light Blue #5b7c8e
Off White #e1d9c6
Light orange #fe9e59
Orange #f8842a 

border-radius: 0.5rem;

*/

/*Navbar styles*/
body{
 text-align: center;
}
h4{
    margin: 2rem;
}
iframe {
    width: 60vw;
    height: 40vh;
    margin: 2rem auto;
}
.general-button {
    background-color: #f8842a;
    border-radius: 0.5rem;
}
section {
    padding: 3rem 1rem;
}
.general-text {
    margin: auto;
    padding 2rem 1rem;
}
.sec-even {
    background-color: #5b7c8e;
    color: white;
}
.navbar {
    background-color: #124666;
    -webkit-box-shadow: 0 5px 8px #888888;
    box-shadow: 0 5px 8px #888888;
    font-weight: 900;
    
    
}
.navbar-brand {
    width: 7vw;
}

#hamburgerMenu {
    padding-left: 35vw;
    font-size: 1.25rem;
}

#logo-text {
    font-family: 'Frijole', cursive;
    font-size: .8rem;
    color: #fe9e59;
}

.navbar-light .navbar-nav .nav-link {
    color: #fe9e59;
}

/*Home styles*/

#home {
    padding-top: 20vh;
    height: 100vh;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-image: url(../images/house.jpg);
    background-size: cover;
    color: #124666;
}

#home-container {
    background-color: rgba(255, 255, 255, .5)

}

#pumpkin {
    width: 50%;
    
}

.section-header {
    font-family: "Permanent Marker";
    margin: 2rem;
}

.general-text {
    font-family: "Roboto";
}

#pumpkin > img {
    max-width: 50%;
}

.the-game-video {
    text-align: center;
}

.accordion>.card .card-header {
    background-color: #fe9e59;
    color: Black;
    border: none;
    font-size: 1.2rem;
}

.card-body {
    color: black;
}

@media (min-width: 768px) {
    #logo-text {
        font-size: 1.5rem;
    }

    #hamburgerMenu {
        font-size: 1.75rem;
    }
    
}